body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* NAVBAR STYLES */

nav {
  background-color: #734d80;
  min-height: 51px;
  color: white;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 20px;
  display: block;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
  float: left;
  height: 100%
}
nav a:hover {
  background-color: #ddd;
  color: black;
}

nav .icon {
  display: none;
  text-decoration: none;
  padding: 20px;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
  float: left;
  
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  nav a:not(:first-child) {display: none;}
  nav button.icon{float: right;
  display: block;}
}
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  nav.responsive {position: relative;}
  nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  nav.responsive a {
    display: block;
    text-align: left;
    float: none;
  }
}

/* DASHBOARD STYLES */

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas: 
      "head"
      "main"
      "foot";
  height: 100vh;
  width: 100%;
}
.dash-side {
  background-color: #44344F;
  grid-area: side;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 240px;
  position: fixed;
  overflow-y: auto;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  z-index: 2; /* Needs to sit above the hamburger menu icon */
  transform: translateX(-245px);
  transition: all .6s ease-in-out;
}

.dash-side.active {
  transform: translateX(0);
}
.dash-side__close-icon {
  position: absolute;
  visibility: visible;
  top: 8px;
  right: 12px;
  cursor: pointer;
  font-size: 20px;
  color: #ddd;
}

@media only screen and (min-width: 46.875em) {
  .dash-side {
    position: relative; /* Fixed position on mobile */
    transform: translateX(0);
  }

  .dash-side__close-icon {
    visibility: hidden;
  }
  .menu-icon {
    visibility: hidden;
  }
}

@media screen and (min-width: 46.875em) {
  /* Show the sidenav */
  .grid-container {
    grid-template-columns: 240px 1fr; /* Show the side nav for non-mobile screens */
    grid-template-areas:
      "head head"
      "side main"
      "side foot";
  }
  .dash-side {
    display: flex;
    flex-direction: column;
  }
}

.dash-head {
  grid-area: head;
  background-color: #564D80
}


.dash-side > ul {
  padding: 0;
  margin-top: 85px;
  list-style-type: none;
}

.dash-side > ul > li {
  padding: 20px 20px 20px 40px;
  color: #ddd;
  font-size: large;
}
.dash-side > ul > li:hover {
  background-color: rgba(255,255,255,0.2);
  cursor: pointer;
}


.dash-main {
  grid-area: main;
  background-color: #98A6D4;
}

.dash-foot {
  grid-area: foot;
  background-color: #564D80;
}

.dash-head, .dash-foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

/* DASHBOARD COMPONENTS */

.menu-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  padding: 12px;
  background-color: #DADAE3;
}

.dash-head h1 {
  padding: 0 20px;
  
}

.balance-container h1 {
  color: rgb(34, 12, 59);
  padding: 25px;
  font-size: 60px;
  text-align: center;
}

/* FORMS */
.money-form > form {
  margin: 0 auto; 
  max-width: 400px;
}

.money-form input {
  padding: 0 10px;
  width: 100px;
  height: 80px;
  font-size: 50px;
  border-radius: 10%;
  border: none;
  text-align: left;
  display: inline-block;
}
.money-form h2 {
  padding: 20px;
  text-align: center;
}
.money-form label {
  font-size: 50px;
}
.money-form > form > div {
  text-align: center;
  background-color: white;
}

.money-button {
  background-color: white;
  border-radius: 10%;
  padding: 10px;
  display: block;
  margin: 30px auto;
  font-size: 24px;
  height: 100px;
 
}
.money-button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}


/* USER LOGIN/REGISTER FORM STYLES */

.user-form input {
  padding: 10px;
  width: 400px;
  display: block;
  margin: 0 auto;
  background-color: rgba(157, 45, 232, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.398);  
}

.user-form label {
  display: block;
  margin: 0 auto;
  width: 400px;
  text-align: left;
  padding: 5px
}

.user-form button {
  margin: 0 auto;
  display: block;
  padding: 10px;
  border-radius: 10%;
  margin-top: 10px;
  background-color: rgba(157, 45, 232, 0.1);;
}

.login-register-link {
  text-align: center;
}


/* Profile Page */

.profile-info {
  width: 95%;
  border: 3px solid rgba(0, 0, 0, 0.119);
  margin: 10px auto;

  min-height: 500px;
  background-color: rgba(128, 128, 128, 0.216);

}
.profile-info p {
  padding: 10px;
  font-size: 24px;
}

.button-group {
  display: flex;
  justify-content: center;
  width: 300px;
  margin: 0 auto;
}

#cancel-button {
  background-color: rgba(255, 0, 0, 0.158);
}

.button-edit {
  display: block;
  padding: 10px;
  border-radius: 10%;
  margin: 10px;
  background-color: white
}

.profile-page h1 {
  padding: 10px;
  
}

/* HOMEPAGE styles */

.home-page {
  margin: 25px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-evenly;
}

.card {
  max-width: 300px;
  margin: 20px 0px;
  text-align: left;
  border: 2px solid rgba(0, 0, 0, 0.138);
  border-radius: 5%;
  padding: 20px;
  background-color: #564d8072;
}

.about-list {
  display: flex;
  justify-content: space-around;
}
.about-list >li {
  text-decoration: none;
  list-style-type: none;
  font-size: 24px;
}

a {
  font-size: 24px;
}