body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* DASHBOARD STYLES */

.grid-container {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas: 
      "side head"
      "side main"
      "side foot";
  height: 100vh
}

.dash-head {
  grid-area: head;
  background-color: #564D80
}

.dash-side {
  grid-area: side;
  background-color: #44344F;
  flex-direction: column;
}

.dash-side > ul {
  padding: 0;
  margin-top: 85px;
  list-style-type: none;
}

.dash-side > ul > li {
  padding: 20px 20px 20px 40px;
  color: #ddd;
  font-size: large;
}
.dash-side > ul > li:hover {
  background-color: rgba(255,255,255,0.2);
  cursor: pointer;
}


.dash-main {
  grid-area: main;
  background-color: #98A6D4;
}

.dash-foot {
  grid-area: foot;
  background-color: #564D80;
}

.dash-head, .dash-foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

/* FORMS */

.money-form > form > input {
  padding: 10px;
  width: 200px;
  height: 100px;
  font-size: 50px;
  border-radius: 10%;
  border: 1px solid black;
  text-align: right;
}
.money-form > form > label {
  font-size: 72px;
}

.money-button {
  background-color: white;
  border-radius: 10%;
  padding: 10px;
  display: block;
  margin: 0 auto;
  font-size: 32px;
  height: 100px;
}
.money-button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
